ion-item::part(native) {
  background-color: #ecefff;
  padding: 0;
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

ion-card {
  width: 100%;
}

.flower-content {
  display: flex;
  width: 100%;
  max-height: 100px;
  &__green {
    background: linear-gradient(124deg, rgba(236,239,255,1) 53%, rgba(151,255,0,1) 100%);
  }
  &__red {
    background: linear-gradient(121deg, rgba(236,239,255,1) 53%, rgba(255,0,0,1) 100%);
  }
}

.flower__image {
  width: 50%;
}

.flower__text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}
