<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="flower">
  <ion-item>
    <ion-card>
      <ion-card-content class="view-flower__main-container">
        <ion-img class="view-flower__image" src="{{ flower.url }}" alt="Flowers"></ion-img>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <div class="view-flower__id">
    <h1>{{ flower.id }}</h1>
  </div>
  <ion-list>
    <ion-card *ngFor="let cropped of flower.croppedImage" class="view-prediction__card">
      <ion-card-content class="view-prediction__content">
        <ion-img class="view-prediction__image" src="{{ cropped.url }}" alt="cropped"></ion-img>
        <ion-radio-group class="view-prediction__radio-group" value="stages">
          <ion-radio value="first" labelPlacement="end">First</ion-radio><br />
          <ion-radio value="second" labelPlacement="end">Second</ion-radio><br />
          <ion-radio value="third" labelPlacement="end">Third</ion-radio><br />
          <ion-radio value="fourth" labelPlacement="end">Fourth</ion-radio>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-button class="save-button">
    Save
  </ion-button>
</ion-content>